# AWS access key used to create infrastructure
access_key = ""
# AWS secret key used to create AWS infrastructure
secret_key            = ""
vpc_id                = "gemini-3h-vpc"
vpc_cidr_block        = "172.36.0.0/16"
public_subnet_cidrs   = ["172.36.1.0/24"]
aws_key_name          = "deployer"
ssh_user              = "ubuntu"
disk_volume_size      = 150
private_key_path      = "~/.ssh/deployer.pem"
aws_region            = ["us-east-1"]
azs                   = "us-east-1a"
cloudflare_email      = ""
cloudflare_api_token  = ""
nr_api_key            = ""
farmer_reward_address = ""
