server {
    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name archive.subspace.network;

    location ~* \.(?:css|js|json)$ { 
        try_files $uri $uri/ @backend;
    }

    location @backend {
        proxy_pass http://127.0.0.1:4444;
    }

    location /api {
        proxy_buffering off;
        proxy_pass http://127.0.0.1:8888/graphql;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        include /etc/nginx/cors-settings.conf;
    }

    location /graphql {
        proxy_buffering off;
        proxy_pass http://127.0.0.1:4444/graphql;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        include /etc/nginx/cors-settings.conf;
    }
}
