.terraform*
*.tfstate*
*.tfplan
.DS_Store
backend_config.hcl
*.tfvars
node_keys.txt
/resources/gemini-2a/bootstrap_node_keys.txt
/resources/gemini-2a/full_node_keys.txt
/resources/gemini-2a/rpc_node_keys.txt
