.terraform*
*.tfstate*
*.tfplan
*.tfvars
config.toml
proxied.json
.DS_Store
backend_config.hcl
node_keys.txt
resources/devnet/*_node_keys.txt
resources/devnet/keystore/*
resources/gemini-3g/*_node_keys.txt
resources/gemini-3g/relayer_ids.txt
resources/gemini-3g/keystore/*
resources/gemini-3h/*_node_keys.txt
resources/gemini-3h/keystore/*
resources/taurus/*_node_keys.txt
resources/taurus/keystore/*
resources/mainnet/*_node_keys.txt
resources/mainnet/keystore/*
/.idea
/modules/node-utils/target
/modules/node-utils/data
