networks:
  chain-alerter:

services:
  chain-alerter:
    image: ghcr.io/autonomys/chain-alerter:${DOCKER_TAG}
    container_name: chain-alerter
    volumes:
      - ${SLACK_SECRET_PATH}:/slack-secret
    restart: unless-stopped
    networks:
      - chain-alerter
    env_file:
      - .env
    command: [
      "--rpc-url", $RPC_URL,
      "--uptimekuma-url", $UPTIMEKUMA_URL,
      "--non-block-import-threshold", $NON_BLOCK_IMPORT_THRESHOLD,
      "--reorg-depth-threshold", $REORG_DEPTH_THRESHOLD,
      "--slack-bot-name", $SLACK_BOT_NAME,
      "--slack-channel-name", $SLACK_CHANNEL_NAME
    ]
