ssh_user    = "root"
tf_token    = ""
branch_name = ""
additional_node_ips = {
  bootstrap     = [""]
  node          = [""]
  farmer        = [""]
  domain        = [""]
  evm_bootstrap = [""]
}
instance_count = {
  bootstrap     = 1
  node          = 1
  farmer        = 1
  domain        = 1
  evm_bootstrap = 1
}
farmer_reward_address = ""
network_name          = "devnet"
private_key_path      = "~/.ssh/id_rsa"
genesis_hash          = ""
