# AWS access key used to create infrastructure
access_key = ""
# AWS secret key used to create AWS infrastructure
secret_key          = ""
vpc_id              = "ephemeral-vpc"
vpc_cidr_block      = "172.31.0.0/16"
public_subnet_cidrs = ["172.31.1.0/24"]
aws_key_name        = "deployer"
ssh_user            = "ubuntu"
instance_type       = "m6a.xlarge"
disk_volume_size    = 100
tf_token            = ""
branch_name         = ""
farmer_reward_address = ""
network_name          = "devnet"
private_key_path      = ""
instance_count = {
  bootstrap = 2
  node      = 1
  farmer    = 1
  domain    = 0
}
