# AWS access key used to create infrastructure
access_key = ""
# AWS secret key used to create AWS infrastructure
secret_key           = ""
aws_key_name         = ""
ssh_agent_identity   = ""
cloudflare_api_token = ""
cloudflare_zone_id   = ""
nr_api_key           = ""
