#!/bin/sh

##---------------------- GEMINI-3e ---------------------------------##
export NODE_ORG="subspace"
export NODE_TAG=gemini-3e-2023-jul-03
export NODE_NAME=SUBSQUID_GEMINI_3e
export NETWORK_NAME=gemini-3e
export POSTGRES_HOST=db
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_DB=squid-archive
export POSTGRES_PASSWORD=
export DB_TYPE=postgres
export DB_HOST=db
export DB_PORT=5432
export DB_USER=postgres
export DB_NAME=squid-archive
export DB_PASS=
export ARCHIVE_ENDPOINT="https://archive.gemini-3e.subspace.network/api"
export CHAIN_RPC_ENDPOINT="wss://rpc.gemini-3e.subspace.network/ws"

####################################################################

export DD_API_KEY=""
export DD_DOGSTATSD_NON_LOCAL_TRAFFIC="true"
export DD_LOGS_ENABLED="true"
export DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL="true"
export DD_CONTAINER_EXCLUDE="name:datadog-agent"
export PROCESSOR_HEALTH_HOST="http://processor:3000"
export PROCESSOR_HEALTH_PORT="7070"
export HEALTH_CHECK_PORT="8080"
export INGEST_HEALTH_HOST="http://ingest:9090"
export INGEST_HEALTH_PORT="7070"
export MY_SECRET=""

cat << EOF >> ~/.bash_profile
# ##---------------------- GEMINI-3e ---------------------------------##
export NODE_ORG="subspace"
export NODE_TAG=gemini-3e-2023-jul-03
export NODE_NAME=SUBSQUID_GEMINI_3e
export NETWORK_NAME=gemini-3e
export POSTGRES_HOST=db
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_DB=squid-archive
export POSTGRES_PASSWORD=
export DB_TYPE=postgres
export DB_HOST=db
export DB_PORT=5432
export DB_USER=postgres
export DB_NAME=squid-archive
export DB_PASS=potgres
export ARCHIVE_ENDPOINT="https://evm.archive.gemini-3e.subspace.network/api"
export CHAIN_RPC_ENDPOINT="wss://rpc.gemini-3e.subspace.network/ws"

####################################################################

export DD_API_KEY=""
export DD_DOGSTATSD_NON_LOCAL_TRAFFIC="true"
export DD_LOGS_ENABLED="true"
export DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL="true"
export DD_CONTAINER_EXCLUDE="name:datadog-agent"
export PROCESSOR_HEALTH_HOST="http://processor:3000"
export PROCESSOR_HEALTH_PORT="7070"
export HEALTH_CHECK_PORT="8080"
export INGEST_HEALTH_HOST="http://ingest:9090"
export INGEST_HEALTH_PORT="7070"
export MY_SECRET=""
EOF

source ~/.bash_profile
