# AWS access key used to create infrastructure
access_key = ""
# AWS secret key used to create AWS infrastructure
secret_key           = ""
aws_key_name         = "explorer-deployer"
ssh_user             = "ubuntu"
vpc_id               = "explorer-taurus-vpc"
vpc_cidr_block       = "172.34.0.0/16"
public_subnet_cidrs  = ["172.34.1.0/24"]
network_name         = "taurus"
instance_type        = "m6a.2xlarge"
instance_count_blue  = 1
instance_count_green = 1
disk_volume_size     = 200
private_key_path     = ""
cloudflare_email     = ""
cloudflare_api_token = ""
nr_api_key           = ""
postgres_password    = ""
hasura_graphql_admin_secret = ""
hasura_graphql_jwt_secret= ""
