# AWS access key used to create infrastructure
access_key = ""
# AWS secret key used to create AWS infrastructure
secret_key           = ""
aws_key_name         = "explorer-deployer"
ssh_user             = "ubuntu"
vpc_id               = "gemini-3f-vpc"
vpc_cidr_block       = "172.33.0.0/16"
public_subnet_cidrs  = ["172.33.1.0/24"]
network_name         = "gemini-3f"
instance_type        = "m6a.xlarge"
instance_count_blue  = 1
instance_count_green = 0
disk_volume_size     = 400
private_key_path     = "~/.ssh/explorer-deployer.pem"
cloudflare_email     = ""
cloudflare_api_token = ""
datadog_api_key      = ""
