server {
    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name squid.gemini-3h.subspace.network;

    location ~* \.(?:css|js|json)$ {
        try_files $uri $uri/ @backend;
    }

    location @backend {
        proxy_pass http://127.0.0.1:4350;
    }

    location /graphql {
        proxy_buffering off;
        proxy_pass http://127.0.0.1:4350/graphql;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
    }

    location /db-health {
        proxy_buffering off;
        proxy_pass http://127.0.0.1:8080/health;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
    }

    location /processor-health {
        proxy_buffering off;
        proxy_pass http://127.0.0.1:7070/health;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
    }
}
