[Unit]
Description=Subspace node service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/subspace pre-start
ExecStart=/usr/bin/subspace start
ExecStartPost=/usr/bin/subspace post-start
ExecStop=/usr/bin/subspace stop
ExecStopPost=/usr/bin/subspace post-stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
