[Unit]
Description=Subspace node service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/home/ubuntu/bin/subspace pre-start
ExecStart=/home/ubuntu/bin/subspace start
ExecStartPost=/home/ubuntu/bin/subspace post-start
ExecStop=/home/ubuntu/bin/subspace stop
ExecStopPost=/home/ubuntu/bin/subspace post-stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
